@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//"../images/Abstract/Celebration Of Life 4,Year_2022, Size_ 20_X30_, Medium_ Ink On Paper,.jpg"
// Custom Styles

$secondary-font: 'Apple Chancery','Comic Sans MS', sans-serif;

body {
    font-family: 'Lucida Handwriting', 'Dancing Script', 'Brush Script MT', cursive;
    background-color: #e9ecef;
}

header {
    font-size: 1.2em; /* Increase font size */
    margin-bottom: 40px;
    //background-color: rgba(255, 255, 255, 1); /* Slightly transparent background for the navbar */
    background-color: #e9ecef;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    .navbar-brand{
        font-family: Roboto, sans-serif;
        font-size: 1.5em;
    }
}

.dropdown-menu {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    //color: #fff; /* Adjust the color to fit your design */
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.5); /* Optional: Add some shadow for better readability */
}

#homepage_carousel {

    #carouselExampleIndicators {
        max-width: 900px; /* Set the maximum width of the carousel */
        margin: 0 auto; /* Center the carousel */
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the carousel */
        border-radius: 20px;
    }

    .carousel-inner img {
        height: 500px; /* Set the height of the images */
        object-fit: cover; /* Ensure images cover the space while maintaining aspect ratio */
        width: 100%; /* Make sure images fill the width of the container */
        border-radius: 20px;
    }

    .carousel-item {
        transition: transform 0.5s ease-in-out;
    }

}

#options {

    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .col-md-4 {
        padding-right: 0;
        padding-left: 0;
    }

    .option-box {
        position: relative;
        overflow: hidden;
        height: 300px; /* Set a uniform height */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0; /* Remove margin to eliminate gaps */
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05); /* Enlarge the box on hover */
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensure images cover the space while maintaining aspect ratio */
            display: block;
        }

        .option-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 1.2em;
            padding: 10px 0;
        }
    }
}

#about {

    img{
        object-fit: cover; /* Ensure images cover the space while maintaining aspect ratio */
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        @media only screen and (max-width: 992px) {
            width: 80%;
        }
    }

        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the about section */
        padding: 40px 20px;
        margin: 0 auto;
        max-width: 1000px;
        border-radius: 10px;
    p{
        font-family: $secondary-font;
        font-size: 1em;
    }

}

#artwork-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
    //display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //gap: 10px;
  
    .artwork-item {
      //flex: 1 1 calc(33% - 15px);
      //max-width: calc(33% - 15px);
      object-fit: cover;
      height: 250px;
      width: 350px;
  
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: transform 0.2s;
        object-fit: cover;
        border-radius: 20px;
  
        &:hover {
          transform: scale(1.08);
        }
      }
    }
}

#artworkModal {
    p {
       margin: 0; 
       font-family: $secondary-font;
       color: #333;
       .description {
        color: #666;
       }
    }
}

#events{
    .event-box {
        font-family: $secondary-font;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 270px;
        width: 1200px;
        margin: 10px auto;
        //display: flex;
        //flex-direction: column;
        
        .event-info {
            padding: 5% 10%;

            h3 {
                font-size: 22px;
                color: #333;
            }

            p {
                font-size: 16px;
                color: #666;
            }
        }
        .event-images {
            img {
                max-height: 230px;
            }
        }
        @media only screen and (max-width: 1200px) {
            display: flex;
            width: 100%;
            //border-radius: 0;
            @media only screen and (max-width: 992px){
                .event-info {
                    padding: 5% 0;
                }
            }
        }
        @media only screen and (max-width: 890px) {
            height: 480px;
            max-width: 580px;
            .event-info {
                padding: 5% 5%;
            }
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

    .box-exhibitions {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .group-exhibition-item{
            //flex: 1 1 calc(33% - 15px);
            //max-width: calc(33% - 15px);
            height: 330px;
            width: 350px;
            object-fit: cover;
            background-color: white;
            border-radius: 20px;
            font-family: $secondary-font;

            img {
                width: 100%;
                height: 70%;
                transition: transform 0.2s;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
              }
            .description{
                h3 {
                    font-size: 18px;
                    color: #333;
                }
    
                p {
                    font-size: 15px;
                    color: #666;
                }
            }
        }
    }
}

#press_carousel {

    .pressControls {
        max-width: 700px; /* Set the maximum width of the carousel */
        margin: 0 auto; /* Center the carousel */
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the carousel */
        border-radius: 20px;
        font-family: $secondary-font;

        .carousel-item {
            transition: transform 0.5s ease-in-out;
            height: 550px;
            text-align: center;
        
            img {
                max-height: 450px; /* Set the height of the images */
                object-fit: cover; /* Ensure images cover the space while maintaining aspect ratio */
                margin: 5px auto 10px auto;
            }
            h3 {
                font-size: 18px;
                color: #333;
            }

            p {
                font-size: 16px;
                color: #666;
            }
            
            #name {
                margin: auto;
                text-align: bottom;
                font-size: 18px;
                color: #666;
            }
        }
    }

    .moreControls {
        max-width: 700px; /* Set the maximum width of the carousel */
        margin: 0 auto; /* Center the carousel */
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the carousel */
        border-radius: 20px;
        font-family: $secondary-font;

        .carousel-item {
            transition: transform 0.5s ease-in-out;
            //height: 450px;
            text-align: center;
        
            img {
                max-height: 350px; /* Set the height of the images */
                max-width: 80%;
                object-fit: cover; /* Ensure images cover the space while maintaining aspect ratio */
                margin: 5px auto 10px auto;
                filter: grayscale(100%);
            }
        }
    }
}

#comment_carousel {

    #contentControls {
        max-width: 1200px; /* Set the maximum width of the carousel */
        margin: 0 auto; /* Center the carousel */
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the carousel */
        border-radius: 20px;
        font-family: $secondary-font;

        .carousel-item {
            transition: transform 0.5s ease-in-out;
            min-height: 320px;
            text-align: center;

            #content {
                margin: 30px 70px;
                font-size: 18px;
                color: #333;
            }

            #name {
                margin: auto;
                text-align: bottom;
                font-size: 18px;
                color: #666;
            }
        }
        .carousel-control-prev{
            left: -5%;
        }
        .carousel-control-next{
            left: 90%;
        }
    }
}

#artist {
    .container{
        min-width: 400px;
        img{
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            }
    }
}

#contact {

    font-family: $secondary-font;
}

footer {
    //background-color: #f8f9fa;
    //padding: 10px;
    //text-align: center;
    margin: 50px;
    font-family: $secondary-font;
    font-size: 14px;
  
    .footer-content {
      //max-width: 800px;
      //margin: 0 auto;
  
  
      ul {
        list-style: none;
        padding: 0;
      }
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  


